html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
body {
  font-family: Arial;
}
aside {
  float: left;
  border-right: 1px #0e0909 solid;
  height: 100vw;
}
#project_name_box::placeholder {
  color: rgb(173, 220, 173);
}
#project_name_box, select, textarea {
  color: #0e0909;
}
/* #inbox {
  display: block;
} */
#new_project {
  display: block;
  margin: 10px;
}
#new_task {
  margin: 10px;
}
#content{
  overflow: hidden;
}
.project {
  border: none;
  border-bottom: 2px rgb(0, 0, 0) solid;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.new_task_input {
  display: block; 
  width: 200px;
  margin-top: 5px; 
  margin-bottom: 10px;
}
.task {
  display: flex;
  border: none;
  border-bottom: 2px black solid;
  height: 50px;
  align-items: center;
}
/* .task_label {
  vertical-align: middle;
} */
.check_box {
  margin: 10px;
  /* vertical-align: middle; */
}
.delete_btn {
  position: absolute;
  right: 15px;
}