html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
body {
  font-family: Arial;
}
aside {
  float: left;
  border-right: 1px #0e0909 solid;
  height: 100vw;
}
#project_name_box::placeholder {
  color: rgb(173, 220, 173);
}
#project_name_box, select, textarea {
  color: #0e0909;
}
#inbox {
  display: block;
}
#new_project {
  display: block;
  margin: 10px;
}
.project {
  border: none;
  border-bottom: 2px rgb(0, 0, 0) solid;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 50px;
  font-size: 20px;
}